
.linkButton {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #ddd;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0070d2;
    color: white;
}

.bg{
    background-image:url('/static/Images/bg3_low.jpg');    
    text-align: center;
    height: 560px;
    background-size: cover;
}

.org_types{
    background-color: #d5d5e5;
    border: 2px solid #070707;
}

.bottomTitle{
    background-color: #02315b;
    font-size: 300%;
    margin-top: 1%;
    text-align: center;
    color: navajowhite;
    -webkit-text-stroke: 1px black;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=submit] {
    width: 20%;
    background-color: #02315b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 125%;
}

input[type=submit]:hover {
    background-color: #1571c1;
}

.message_holder{
    color: #ffffff;
    font-size: 250%;
    margin-left: 2%;
}

body{
    width: 100%;
    margin-left: 0px;
    background-color: #02315b;
    margin-top: 0px;
}