<!DOCTYPE html>
<html lang="en" id="eventSubHtml" style="height: 100%;">

<head>
  <title>PE Information</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  {% with org_name=org_name %}
  {% include 'navbar.html' %}
  {% endwith %}
  <div class="bg">
    <br />

    <form action="" method="POST" style="margin-top: 8em;">
      <h4>Enter Your Platform Event API Name</h4>
      <input type="text" id="eventText" class="evtname org_types" placeholder="Event API Name"
        value="Notification__e" />
      <br />
      <input type="submit" id="submitBtn" />
      <div class="loader" id="loader" style="Display:None"></div>
    </form>

    <br /><br />
  </div>
  <br />
  <div class="message_holder" id="message_holder"></div>
  <div>
    <a id="showMore" onclick="showMore()" href="javascript:void(0);">Show Details</a>
    <p id="errorDetails"></p>
  </div><br />
  <table class="event_data" id="customers">

  </table>
  <script src="{{ url_for('static', filename='js/eventSub.js') }}"></script>

</body>

</html>