<!DOCTYPE html>
<html lang="en" style="height: 190%;">
<head>
  <title>PE Information</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
</head>
<body>
  {% with org_name=org_name %}
    {% include 'navbar.html' %}
  {% endwith %}
  <div class="bg" >
    <br/>
    <br/>

    <form action="" method="POST" style="margin-top: 6em;">
      <input type="text" class="evtname org_types" placeholder="Event API Name" value="Notification__c"/>
      <br/>
      <input type="submit"/>
    </form>
    <br/><br/>
  </div>
  <br/><br/>
  <div class="message_holder"></div><br/><br/>
  <table class="event_data" id="customers">

  </table>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port, {secure: false});
    var headersDone = false;
    socket.on( 'connect', function() {
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let eventName = $( 'input.evtname' ).val()
        socket.emit( 'my event', {
          evtname : eventName
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )
    socket.on( 'my response', function( msg ) {
      console.log( 'msg-->'+JSON.stringify(msg) );
      if( msg.data != undefined && msg.data.message != undefined ){
        window.scrollTo(0, 2000);
        $( 'div.message_holder' ).append( 'Listening to Platform Events...' )
      }
      else if( msg.data != undefined ){
        var tableData = '';
        if( !headersDone ){
            window.scrollTo(0, 10000);
            tableData += '<tr>';
            for( var key in msg.data ){
                tableData += '<th>'+key+'</th>'
            }
            headersDone = true;
            tableData+= '</tr>';
        }
        tableData += '<tr>';
        for( var key in msg.data ){ 
            tableData += '<td>'+msg.data[key]+'</td>'
        }
        tableData+= '</tr>';    

        $( 'table.event_data' ).append( tableData )
      }
    })
  </script>

</body>
</html>